@use 'partials/variables' as *;
@use 'partials/mixins' as *;


@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
    font-weight: 500;
    font-style: normal;
}

// PAGE RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #323232;
    font-family: "Avenir Next", cursive;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}


// NAVBAR
.navbar {
    background-color: #323232;
    width: 100%;
    color: #AFAFAF;
    display: flex;
    padding-bottom: .5rem;
    
    @include mobile {
        flex-direction: column;
        height: 5rem;
        justify-content: center;
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    &__link {
        display: flex;
        justify-content: center;
        color:#AFAFAF;
        @include H2-MOB;
        font-weight: $demi-bold;
        padding-bottom: 8px;
        position: relative;
        bottom: 6px;

        @include mobile {
            width: 50%;
        }

        @include tablet {
            width: auto;
            margin: 0 2rem;
            height: 100%;
            justify-self: flex-end;
            position: initial;
            @include H3-DT;
            padding: 0 .5rem;
        }

        @include desktop {
            margin: 0 0 0 3.5rem;
            width: 5rem;
            padding: 0 3.5rem;
        }

        & > a {
            display: inline-block;
            color: $alab;
        }

        &--active {
            border-bottom: 3px solid $white;
            font-weight: $demi-bold;
            
            & > a {
                color: $white;
            }
        }
    }


    &__link-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;


        @include mobile {
            align-items: flex-start;
            padding-inline-start: 0px;
        }

        @include tablet {
            width: auto;
            padding-top: 2rem;
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;
    
    @include mobile {
        @include H1-MOB;
        padding: 1rem 0;
    }
        
    @include tablet {
        margin-left: 1.5rem;
        padding-top: 1.5rem;
        margin-right: 1rem;
    }

    @include desktop {
        margin-left: 11.25rem;
    }

    & > a {
        color: $white;
    }
}


// HERO
.hero {
    @include flexCol;
    background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 29.5rem;
    width: 100%;
    background-repeat: round;
    padding-top: 4rem;
    padding-left: 1rem;

    @include tablet {
        width: 100%;
        height: 41.875rem;
        background-size: cover;
        background-repeat: round;
        align-items: flex-start;
        padding-left: 1.5rem;
    }

    @include desktop {
        height: 41.875rem;
        background-size: cover;
        background-repeat: round;
        display: block;
        padding-left: 12.5vw;
    }

    &__album-title {
        @include H2-MOB;
        font-weight: $fontreg;
        color: $white;
    }

    &__header {
        flex-wrap: wrap;
        @include H1-DT;
        color: $white;
        margin-bottom: 3.5rem;

        @include tablet {
            @include H1-hero-DT; 
            width: 37.5rem;
        }

        @include desktop {
            width: 37.5rem;
            display: inline-block;
        }
    }

        &__album-title {
            @include H2-MOB;
            font-weight: $demi-bold;
            margin-bottom: 1.5rem;

            @include tablet {
                @include H2-DT;
                margin-top: 2rem;
                margin-bottom: 2.5rem;
            }

            @include desktop {
                display: block;
            }
        }
}
.song {
    height: 6rem;
    width: calc(100% - 1rem);
    border-width: 0;
    border-radius: 4px;

    @include tablet {
        width: 57.5%;
        height: 10rem;
        border: none;
        background-color: $black;
    }

    @include desktop {
        display: inline-block;
        width: 30.27777777vw;
        height: 9.125rem;
    }
}


//SHOWS SECTION

.shows {
    @include flexCol;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding: 0 1rem;

    &__title {
        @include H1-MOB;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        padding-left: 1rem;

        @include tablet {
            padding-left: 1.5rem;
            @include H1-DT;
        }

        @include desktop {
            margin-left: 9.75rem;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid $merc;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &__button {
        justify-self: center;
        height: 3rem;
        background-color: $black;
        color: $white;
        @include H4-MOB;
        font-weight: $demi-bold;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 1rem;

        @include tablet {
            width: 10rem;
            margin: 1rem 0;
        }
    }

    &__date {
        @include H4-MOB;
        font-weight: $demi-bold;
        width: 100%;
        display: block;

        @include tablet {
            width: 33.3333%;
            display: table-cell;
            @include H3-DT;
        }
    }
    
    &__details {
        @include flexCol;
        border-bottom: 2px solid $merc;
        width: 100%;

        @include tablet{
            display: table-row;
        }

        &--DT-tab {
            display: none;

            @include tablet {
                display:table-row;
                width: 100%;
                border-bottom: none;
            }
        }
    }

    &__header {
        @include H5-MOB;
        color: $silver;
        font-weight: $demi-bold;
        width: 100%;
        text-align: left;

        @include tablet {
            width: 25%;
        }

        &--mobile {
            @include H5-MOB;
            color: $silver;
            font-weight: $demi-bold;
            width: 100%;
            text-align: left;
            margin-top: 1.5rem;
            margin-bottom: 1rem;

            @include tablet {
                display: none;
            }
        }
    }

    &__label {
        @include H4-MOB();
        color: $black;
        width: 100%;
        text-align: left;

        @include tablet {
            width: 22.222222222%;
            @include H4-list-DT;
        }
    
        @include desktop {
            width: 25%;
        }
    
            &--venue {
                margin-left: 12.625rem;
            }
    
            &--location {
                margin-left: 9.75rem;
            }
    }

    &__location {
        @include H4-MOB;
        margin-bottom: 2rem;
    }

    &__structure {
        width: 100%;
        border-collapse: separate;
        padding: 0 1rem;

        @include tablet {
            margin: 0 1.5rem;
            border-collapse: collapse;
            padding: 0;
            width: 93.44262295%;
        }

        @include desktop {
            width: 58.055555555%;
            margin-left: 31.666666666%;
            border-collapse: collapse;
        }
    }

    &__venue {
        @include H4-MOB;
        margin-bottom: 1.5rem;
    }

    &:hover {
        background-color: black;
    }
}


// FOOTER
.footer {
    @include flexCol;
    background-color: $black;
    color: $silver;
    padding-left: 3.75vw;
    width: 100%;
    margin-top: 2rem;

    @include tablet {
        padding-left: 1.5rem;
        margin-top: 1.5rem;
    }

    @include desktop {
        padding-left: 12.5%;
        margin-top: 1.5rem;
    }

    &__address1 {
        @include H5-MOB;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }
    }

    &__address2 {
        @extend .footer__address1;
        margin-bottom: 1rem;
    }

    &__contacts-container {
        @include flexCol;
        position: relative;
        right: 5px;

        @include tablet {
            display: flex;
            flex-direction: row;
            position: initial;
        }
    }

    &__contact {
        @include flexCol;
    }

    &__contact-name {
        @include H2-MOB;
        color: $white;
        font-weight: $demi-bold;

        @include tablet {
            @include H4-list-DT;
        }
    }

    &__contact-company {
        @include H4-MOB;
        margin-bottom: 1rem;
        color: $white;
        font-weight: $demi-bold;
        @include tablet {
            @include H4-list-DT;
        }
    }

    &__copyright {
        @include H5-MOB;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }

        @include desktop {
            margin: 2px;
        }
    }

    &__copyright-container {
        padding-bottom: 2rem;
        position: relative;
        right: 5px;

        @include desktop {
            right: 0;
            display: flex;
        }
    }

    &__email {
        @include H5-MOB;
        margin-bottom: 1.5rem;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }

        @include desktop {
            margin-bottom: 2.5rem;
        }
    }

    &__icons {
        color: $silver;
        display: flex;
        width: 8rem;
        justify-content: space-between;
        margin-bottom: 2.75rem;

        @include tablet {
            padding-top: 3rem;
            margin-bottom: 0;
            position: relative;
            right: 2rem;
        }

        @include desktop {
            width: auto;
            display: inline-block;
            right: 5.5rem;
        }
    }
    
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        @include desktop {
            margin-right: 2rem;
        }
    }

    &__logo {
        color: $white;
        font-weight: $fontreg;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: inline-block;
            margin-top: 3rem;
            @include H2-DT;
            justify-self: flex-end;
            align-self: flex-end;
            padding-right: 1.5rem;
        }

        @include desktop {
            margin-right: 12.5%;
        }
    }

    &__title {
        @include H1-DT;
        padding-top: 3rem;
        padding-bottom: 2rem;
        position: relative;
        right: 5px;
        color: $white;
        font-weight: $bold;

        @include tablet {
            padding-bottom: 0;
            position: initial;

        }
    }

    &__top-container {
        @include tablet {
            display: flex;
            align-items: flex-end;
            padding-bottom: 2rem;
            justify-content: space-between;
            }

        @include desktop {
            padding-bottom: 3.5rem; 
            justify-content: space-between;
        }
    }
}

.contact {
    @include flexCol;

    @include tablet {
        margin-right: 4rem;
    }

    @include desktop {
        margin-bottom: 0;
    }

    &--right {
        @include tablet {
        margin-right: 0;
        }
    }
}
