@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: "Avenir Next", cursive;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.alab {
  color: #AFAFAF;
}

.white {
  color: #FFFFFF;
}

.merc {
  color: #E1E1E1;
}

.bold {
  font-weight: 700;
}

.demi-bold {
  font-weight: 500;
}

.fontreg {
  font-weight: 400;
}

.navbar {
  background-color: #323232;
  width: 100%;
  color: #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFAFAF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  height: 29px;
}
@media screen and (min-width: 320px) {
  .navbar__link {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .navbar__link {
    width: auto;
    margin: 0 3rem;
    height: 100%;
    justify-self: flex-end;
  }
}
.navbar__link > a {
  display: inline-block;
  color: #AFAFAF;
  margin-bottom: 1rem;
}
.navbar__link--active {
  border-bottom: 3px solid #FFFFFF;
}
.navbar__link--active > a {
  color: white;
}
.navbar__link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 320px) {
  .navbar__link-container {
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .navbar__link-container {
    width: auto;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 320px) {
  .logo {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    display: inline-block;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .logo {
    margin-left: 1.5rem;
  }
}
.logo > a {
  color: #FFFFFF;
}

.hero {
  background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: contain;
  height: 11.438rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 25rem;
  }
}
.hero__header {
  margin-left: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.5rem;
  }
}

.about {
  margin: 2rem 0rem 4.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 1.5rem;
  }
}
.about__article-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 700;
  margin-bottom: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__articles-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about__article {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__article {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .about__article--left {
    margin-right: 1.5rem;
  }
}
.about__image-caption-container {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.about__article-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__article-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__image-caption {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .about__image-caption {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__caption-author {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .about__caption-author {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}
.about__image {
  width: 18rem;
  height: auto;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 45rem;
    height: auto;
  }
}
.about__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photos__title {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .photos__title {
    margin-left: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.photos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .photos__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.photo {
  width: 288px;
  height: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo {
    width: 14rem;
    height: 7.875rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #AFAFAF;
  padding-left: 0.75rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 1.5rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;
  }
}
.footer__icons {
  color: #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 2.75rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-top: 3rem;
    margin-bottom: 0;
    margin-left: 3rem;
  }
}
.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__address1 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__address1 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__address2 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__address2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__copyright {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__copyright-container {
  padding-bottom: 3rem;
}
@media screen and (min-width: 320px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 11rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.footer__email {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__contact-company {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-company {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-right: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact--right {
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */