@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: "Avenir Next", cursive;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: #323232;
  width: 100%;
  color: #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 320px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 0;
  }
}
.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFAFAF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  bottom: 6px;
}
@media screen and (min-width: 320px) {
  .navbar__link {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .navbar__link {
    width: auto;
    margin: 0 2rem;
    height: 100%;
    justify-self: flex-end;
    position: initial;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__link {
    margin: 0 0 0 3.5rem;
    width: 5rem;
    padding: 0 3.5rem;
  }
}
.navbar__link > a {
  display: inline-block;
  color: #FAFAFA;
}
.navbar__link--active {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 500;
}
.navbar__link--active > a {
  color: #FFFFFF;
}
.navbar__link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 320px) {
  .navbar__link-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}
@media screen and (min-width: 768px) {
  .navbar__link-container {
    width: auto;
    padding-top: 2rem;
  }
}

.logo {
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .logo {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 1.5rem;
    padding-top: 1.5rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-left: 11.25rem;
  }
}
.logo > a {
  color: #FFFFFF;
}

.hero {
  background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  height: 11.438rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-repeat: round;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-repeat: round;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 41.875rem;
    background-size: cover;
    background-repeat: round;
  }
}
.hero__header {
  margin-left: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  width: 15.3rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.5rem;
    width: 37.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    margin-left: 11.25rem;
    width: 37.5rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    margin-top: 3rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.about__article {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__article {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
    width: 45.66%;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__article {
    width: 30.8%;
  }
}
.about__article-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 5vw;
}
@media screen and (min-width: 768px) {
  .about__article-cont {
    padding: 0 3.175%;
  }
}
@media screen and (min-width: 1024px) {
  .about__article-cont {
    padding: 0 18.88888888%;
  }
}
@media screen and (min-width: 768px) {
  .about__articles-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100vw;
  }
}
.about__article-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__article-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .about__article-title {
    margin-bottom: 2rem;
  }
}
.about__caption-author {
  margin-bottom: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-left: 5vw;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__caption-author {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding-left: 3.175%;
  }
}
@media screen and (min-width: 1024px) {
  .about__caption-author {
    padding-left: 18.88888888%;
    margin-bottom: 3.5rem;
  }
}
.about__image {
  width: 90vw;
  height: auto;
  margin-bottom: 1.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 93.75vw;
    -ms-flex-item-align: center;
        align-self: center;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .about__image {
    width: 62.222222vw;
    height: auto;
    margin-bottom: 3rem;
  }
}
.about__image-caption {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;
  min-width: 16.563rem;
  padding-left: 5vw;
  justify-self: center;
  max-width: 90%;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__image-caption {
    font-size: 1.5rem;
    line-height: 2rem;
    width: auto;
    padding-left: 3.175%;
    justify-self: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .about__image-caption {
    padding-left: 18.88888888%;
    width: 75%;
    margin-bottom: 2.5rem;
  }
}
.about__image-caption-container {
  font-size: 0.875rem;
  line-height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__image-caption-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
  }
}
.about__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 700;
  margin-bottom: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
  padding-left: 5vw;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 3.125%;
  }
}
@media screen and (min-width: 1024px) {
  .about__title {
    margin-bottom: 3rem;
    padding-left: 12.5%;
  }
}

.photos {
  background-color: #FAFAFA;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .photos {
    margin-top: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
}
.photos__container {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .photos__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .photos__container {
    margin-bottom: 2.5rem;
  }
}
.photos__title {
  margin-bottom: 1.5rem;
  margin-left: 5vw;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .photos__title {
    margin-left: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .photos__title {
    margin-left: 11.25rem;
    padding-left: 0;
  }
}

.photo {
  width: 90vw;
  height: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo {
    width: 29.1666666vw;
    height: 16.40625vw;
    margin: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .photo {
    width: 23.888vw;
    height: 13.4027777vw;
    margin-left: 0;
    margin-right: 1.5rem;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #E1E1E1;
}
.comment__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.comment__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #AFAFAF;
}
@media screen and (min-width: 1024px) {
  .comment__image {
    margin-top: 1.5rem;
  }
}
.comment__image-container {
  height: 100%;
}
.comment__name {
  margin-top: 1.5rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .comment__name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.comment__date {
  margin-top: 1.5rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .comment__date {
    margin-left: 0.5rem;
    margin-top: 1.75rem;
  }
}
.comment__name-date-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment__name-date-cont {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}
.comment__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .comment__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comment__profile-pic {
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  margin-right: 1.25rem;
}

.comments {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 0 16.145833333%;
  }
}
.comments__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .comments__title {
    margin-left: -6.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__title {
    margin-bottom: 3.5rem;
    margin-left: -4.125rem;
  }
}
.comments__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #E1E1E1;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .comments__form {
    width: 36.666666666vw;
  }
}
.comments__form-label {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #AFAFAF;
}
@media screen and (min-width: 1024px) {
  .comments__form-label {
    margin-bottom: 0.5rem;
  }
}
.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  .comments__container {
    width: 36.666666666vw;
  }
}
.comments__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.comments__name-input {
  height: 3rem;
  padding-left: 1rem;
  border: 3px solid #E1E1E1;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
}
.comments__name-input:focus {
  outline: none;
  border: 3px solid #323232;
  background-color: #FFFFFF;
}
.comments__comment-input {
  height: 6rem;
  padding: 1rem;
  text-align: start;
  background-color: #FAFAFA;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .comments__comment-input {
    margin-bottom: 1.5rem;
  }
}
.comments__comment-input:focus {
  outline: none;
  border: 3px solid #323232;
  background-color: #FFFFFF;
}
.comments__button {
  margin-bottom: 2rem;
  background-color: #323232;
  color: #FAFAFA;
  height: 3rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .comments__button {
    width: 10rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 3rem;
  }
}
.comments__button:hover {
  background-color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #AFAFAF;
  padding-left: 3.75vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 12.5%;
  }
}
.footer__address1, .footer__address2 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #E1E1E1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__address1, .footer__address2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__address2 {
  margin-bottom: 1rem;
}
.footer__contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .footer__contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: initial;
  }
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer__contact-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__contact-company {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer__contact-company {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__copyright {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #E1E1E1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin: 2px;
  }
}
.footer__copyright-container {
  padding-bottom: 2rem;
  position: relative;
  right: 5px;
}
@media screen and (min-width: 1024px) {
  .footer__copyright-container {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__email {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
  color: #E1E1E1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__email {
    margin-bottom: 2.5rem;
  }
}
.footer__icons {
  color: #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-top: 3rem;
    margin-bottom: 0;
    position: relative;
    right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__icons {
    width: auto;
    display: inline-block;
    right: 5.5rem;
  }
}
.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .footer__icon {
    margin-right: 2rem;
  }
}
.footer__logo {
  color: #FFFFFF;
  font-weight: 400;
}
@media screen and (min-width: 320px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin-right: 12.5%;
  }
}
.footer__title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
  right: 5px;
  color: #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding-bottom: 0;
    position: initial;
  }
}
@media screen and (min-width: 768px) {
  .footer__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer__top-container {
    padding-bottom: 3.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-right: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact--right {
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */