@use 'partials/variables' as *;
@use 'partials/mixins' as *;

//Media Query breakpoint values

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//Font color values
$alab:#FAFAFA;
$white:#FFFFFF;
$merc:#E1E1E1;
$black: #323232;
$silver: #AFAFAF;

//Font weight values
$bold: 700;
$demi-bold: 500;
$fontreg: 400;


// Media query for tablet breakpoint
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  // Media query for desktop breakpoint
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }
  
  // Media query for mobile breakpoint
  @mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
      @content;
    }
  }
  
  // Mixins used for font-size and line-height.
  
  //DT is used to label Desktop/Tablet Text Styles, MOB is used to label Mobile Text Styles
  
  @mixin H1-MOB {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  @mixin H2-MOB {
    font-size: .875rem;
    line-height: 1.375rem;
  }
  
  @mixin H4-MOB {
    font-size: .8125rem;
    line-height: 1.125rem;
  }
  
  @mixin H5-MOB {
    font-size: .75rem;
    line-height: 1.25rem;
  }
  
  @mixin H1-hero-DT {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  
  @mixin H1-DT {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  
  @mixin H2-DT {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  @mixin H3-DT {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  @mixin H4-para-DT {
    font-size: .875rem;
    line-height: 1.375rem;
  }
  
  @mixin H4-list-DT {
    font-size:.875rem;
    line-height: 1.25rem;
  }
  
  @mixin H5-DT {
    font-size: .75rem;
    line-height: 1.25rem;
  }
  

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
    font-weight: 500;
    font-style: normal;
}


// PAGE RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #323232;
    font-family: "Avenir Next", cursive;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}



a {
    text-decoration: none;
}

address {
    font-style: normal;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    // @include desktop {

    // }
    
}

main {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
    // @include desktop {
    //     // overflow-x: initial;
    // }
}

ul {
    list-style-type: none;
}


// NAVBAR
.navbar {
    background-color: #323232;
    width: 100%;
    color: #AFAFAF;
    display: flex;
    padding-bottom: .5rem;
    
    @include mobile {
        flex-direction: column;
        height: 5rem;
        justify-content: center;
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    &__link {
        display: flex;
        justify-content: center;
        color:#AFAFAF;
        @include H2-MOB;
        font-weight: $demi-bold;
        padding-bottom: 8px;
        position: relative;
        bottom: 6px;

        @include mobile {
            width: 50%;
        }

        @include tablet {
            width: auto;
            margin: 0 2rem;
            height: 100%;
            justify-self: flex-end;
            position: initial;
            @include H3-DT;
            padding: 0 .5rem;
        }

        @include desktop {
            margin: 0 0 0 3.5rem;
            width: 5rem;
            padding: 0 3.5rem;
        }

        & > a {
            display: inline-block;
            color: $alab;
        }

        &--active {
            border-bottom: 3px solid $white;
            font-weight: $demi-bold;
            
            & > a {
                color: $white;
            }
        }
    }


    &__link-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;


        @include mobile {
            align-items: flex-start;
            padding-inline-start: 0px;
        }

        @include tablet {
            width: auto;
            padding-top: 2rem;
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;
    
    @include mobile {
        @include H1-MOB;
        padding: 1rem 0;
    }
        
    @include tablet {
        margin-left: 1.5rem;
        padding-top: 1.5rem;
        margin-right: 1rem;
    }

    @include desktop {
        margin-left: 11.25rem;
    }

    & > a {
        color: $white;
    }
}


// HERO
.hero {
    background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 11.438rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-repeat: round;

    @include tablet {
        width: 100%;
        height: 25rem;
        background-size: cover;
        background-repeat: round;
    }

    @include desktop {
        height: 41.875rem;
        background-size: cover;
        background-repeat: round;
    }

    &__header {
        margin-left: 5vw;
        flex-wrap: wrap;
        @include H1-MOB;
        width: 15.3rem;
        color: $white;

        @include tablet {
            @include H1-hero-DT; 
            margin-left: 1.5rem;
            width: 37.5rem;
        }

        @include desktop {
            margin-left: 11.25rem;
            width: 37.5rem;
        }
    }
}


// ABOUT SECTION
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include tablet {
        // padding: 0 3.125vw;
        margin-top: 2.5rem;
    }

    @include desktop {
        margin-top: 3rem;
        // padding-left: 11.25rem;
        align-items: flex-start;
    
    }

    &__article {
        @include H4-MOB;
        margin-bottom: 2.5rem;
        font-weight: $fontreg;

        @include tablet {
            @include H4-para-DT;
            margin-bottom: 0;
            width: 45.66%;
            padding-right: 1.5rem;
        }

        @include desktop {
            width: 30.8%;
        }
    }
    
    &__article-cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 5vw;

        @include tablet {
            padding: 0 3.175%;
        }
        @include desktop {
            padding: 0 18.88888888%;
        }
    }

    &__articles-cont {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100vw;
        }
    }

    &__article-title {
        @include H2-MOB;
        margin-bottom: 1.5rem;
        font-weight: $demi-bold;

        @include tablet {
            @include H2-DT;
            font-weight: 700;
        }

        @include desktop {
            margin-bottom: 2rem;
        }

    }

    &__caption-author {
        margin-bottom: 2.5rem;
        @include H2-MOB;
        padding-left: 5vw;
        font-weight: $demi-bold;

        @include tablet {
            @include H3-DT;
            font-weight: 500;
            padding-left: 3.175%;
        }

        @include desktop {
            padding-left: 18.88888888%;
            margin-bottom: 3.5rem;
        }
    }

    &__image {
        width: 90vw;
        height: auto;
        margin-bottom: 1.5rem;
        align-self: center;

        @include tablet {
            width: 93.75vw;
            align-self: center;
            height: auto;
        }

        @include desktop {
            width: 62.222222vw;
            height: auto;
            margin-bottom: 3rem;
        }
    }

    &__image-caption {
        @include H2-MOB;
        margin-bottom: 2rem;
        min-width: 16.563rem;
        padding-left: 5vw;
        justify-self: center;
        max-width: 90%;
        font-weight: $bold;

        @include tablet {
            @include H2-DT;
            width: auto;
            padding-left: 3.175%;
            justify-self: flex-start;
        }

        @include desktop {
            padding-left: 18.88888888%;
            width: 75%;
            margin-bottom: 2.5rem;
        }
    }

        &__image-caption-container {
            @include H2-MOB;
            display: flex;
            flex-direction: column;
            
            @include tablet {
                align-self: flex-start;
                width: 100%;
            }
        }

        &__image-container {
            display: flex;
            justify-content: center;
        }

    &__title {
        @include H1-MOB;
        font-weight: 700;
        margin-bottom: 1.5rem;
        align-self: flex-start;
        margin-top: 2rem;
        padding-left: 5vw;

        @include tablet {
            @include H1-DT;
            padding-left: 3.125%;
        }

        @include desktop {
            margin-bottom: 3rem;
            padding-left: 12.5%;
        }
    }
}

// PHOTO GALLERY

.photos {
    background-color: #FAFAFA;
    padding-top: 2rem;

    @include tablet {
        margin-top: 2.5rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    &__container {
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-bottom: 1.5rem;
    
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    
        @include desktop {
            margin-bottom: 2.5rem;
            }
        }
    
    &__title {
        margin-bottom: 1.5rem;
        margin-left: 5vw;
        @include H1-MOB;

        @include tablet {
            margin-left: 1.5rem;
            @include H1-DT;
        }

        @include desktop {
            margin-left: 11.25rem;
            padding-left: 0;
        }
    }
}

.photo {
    width: 90vw;
    height: auto;
    margin-bottom: 1rem;

    @include tablet {
        width: 29.1666666vw;
        height: 16.40625vw;
        margin: .75rem;
    }

    @include desktop {
        width: 23.888vw;
        height: 13.4027777vw;
        margin-left: 0;
        margin-right: 1.5rem;
    }
}

//COMMENT SECTION

.comment {
    display: flex;
    // flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $merc;



    &__top {
        display: flex;
        flex-direction: column;
    }

    &__image {
        // float: left;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: 1rem;
        margin-right: 1rem;

        background-color: $silver;

        @include desktop {
            margin-top: 1.5rem;
        }
        
    }

    &__image-container {
        height: 100%;
    }

    &__name {
        margin-top: 1.5rem;
        @include H4-MOB;
        color: $black;
        font-weight: $demi-bold;

        @include tablet {
            @include H3-DT;
            // margin-top: 11.75rem;
        }
    }

    &__date {
        margin-top: 1.5rem;

        @include H4-MOB;
        color: $silver;

        @include tablet {
            margin-left: .5rem;
            margin-top: 1.75rem;
        }
    }

    &__name-date-cont {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        // align-items: flex-end;

        @include tablet {
            justify-content: initial;
        }
    }

    &__content {
        @include H4-MOB;

        @include tablet {
            @include H4-para-DT;
        }


    }
    
    &__profile-pic {
background-image: url('../assets/Images/Mohan-muruge.jpg');
background-size: cover;
margin-right: 1.25rem;
    }
}

.comments {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet {
        padding: 0 16.145833333%;
    }

    @include desktop {
        padding: 0 31.66666666%;
    
    }

    &__title {
        @include H1-MOB;
        margin-bottom: 2.5rem;
        align-self: flex-start;

        @include tablet {
            margin-left: -6.25rem;
            @include H1-DT;

        
        }

        @include desktop {
            margin-bottom: 3.5rem;
        }



    }

    &__form {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $merc;
        width: 100%;


    }

    &__form-label {
        display: inline-block;
        @include H5-MOB;
        font-weight: $demi-bold;
        color: $silver;

        @include desktop {
            margin-bottom: .5rem;
        }

    }

    &__container {
        display: flex;
        flex-direction: column-reverse;
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        // padding-left: 1rem;
    }



    &__name-input {
        height: 3rem;
        padding-left: 1rem;
        border: 3px solid $merc;
        border-radius: 5px;
        margin-bottom: 1rem;

        &:focus {
            outline: none;
            border: 3px solid $black;
        }

    }

    &__comment-input {
        height: 6rem;
        padding: 1rem;
        text-align: start;
        background-color: $alab;
        border: 2px solid $merc;
        border-radius: 5px;
        margin-bottom: 1rem;

        @include desktop {
            margin-bottom: 1.5rem;
        }

        &:focus {
            outline: none;
            border: 3px solid $black;
        }
    }

    &__button {
        margin-bottom: 2rem;
        background-color: $black;
        color: $alab;
        height: 2.5rem;
        @include H4-MOB;
        font-weight: $demi-bold;
        box-shadow: none;
        border: none;
        border-radius: 4px;

        @include tablet {
            width: 10rem;
            align-self: flex-end;
            height: 3rem;
        }

    }
}







// FOOTER
.footer {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    color: #AFAFAF;
    padding-left: 3.75vw;
    width: 100%;

    @include tablet {
        padding-left: 1.5rem;
    }

    @include desktop {
        padding-left: 12.5%;
    }

    &__address1 {
        @include H5-MOB;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }
    }

    &__address2 {
        @extend .footer__address1;
        margin-bottom: 1rem;
    }

    &__contacts-container {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 5px;

        @include tablet {
            display: flex;
            flex-direction: row;
            position: initial;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: column;
        }
    }

    &__contact-name {
        @include H2-MOB;
        color: $white;
        font-weight: $demi-bold;
    

        @include tablet {
            @include H4-list-DT;
        }
    }

    &__contact-company {
        @include H4-MOB;
        margin-bottom: 1rem;
        color: $white;
        font-weight: $demi-bold;
        @include tablet {
            @include H4-list-DT;
        }
    }

    &__copyright {
        @include H5-MOB;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }
        @include desktop {
            margin: 2px;
        }
    }

    &__copyright-container {
        padding-bottom: 2rem;
        position: relative;
        right: 5px;

        @include desktop {
            right: 0;
            display: flex;
        }
    }

    &__email {
        @include H5-MOB;
        margin-bottom: 1.5rem;
        color: $merc;
        font-weight: $fontreg;
        @include tablet {
            @include H4-list-DT;
        }

        @include desktop {
            margin-bottom: 2.5rem;
        }
    }

    &__icons {
        color: #AFAFAF;
        display: flex;
        width: 8rem;
        justify-content: space-between;
        margin-bottom: 2.75rem;

        @include tablet {
            padding-top: 3rem;
            margin-bottom: 0;
            position: relative;
            right: 2rem;
        }

        @include desktop {
            width: auto;
            display: inline-block;
            right: 5.5rem;
        }
    }
    
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        @include desktop {
            margin-right: 2rem;
        }
    }

    &__logo {
        color: $white;
        font-weight: $fontreg;

        @include mobile {
            display: none;
        }
        @include tablet {
            display: inline-block;
            margin-top: 3rem;
            @include H2-DT;
            justify-self: flex-end;
            align-self: flex-end;
            padding-right: 1.5rem;

        }
        @include desktop {
            margin-right: 12.5%;
        }
    }

    &__title {
        @include H1-DT;
        padding-top: 3rem;
        padding-bottom: 2rem;
        position: relative;
        right: 5px;
        color: $white;
        font-weight: $bold;

        @include tablet {
            padding-bottom: 0;
            position: initial;

        }
    }

    &__top-container {
        @include tablet {
        display: flex;
        align-items: flex-end;
        padding-bottom: 2rem;
        justify-content: space-between;
        }
        @include desktop {
            padding-bottom: 3.5rem; 
            justify-content: space-between;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-right: 4rem;
    }

    @include desktop {
        // margin-bottom: 0;
    }

    &--right {
        @include tablet {
        margin-right: 0;
        }
    }
}
