@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
    font-weight: 500;
    font-style: normal;
}


// PAGE RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #323232;
    font-family: "Avenir Next", cursive;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

//helper classes

.alab {
    color: #AFAFAF;
}

.white {
    color: #FFFFFF;
}

.merc {
    color: #E1E1E1;
}

.bold {
    font-weight: 700;
}

.demi-bold {
    font-weight: 500;
}

.fontreg {
    font-weight: 400;
}
// NAVBAR
.navbar {
    background-color: #323232;
    width: 100%;
    color: #AFAFAF;
    display: flex;
    
    @include mobile {
        flex-direction: column;
        height: 5rem;
        justify-content: center;
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        // align-items: center;

    }

    &__link {
        display: flex;
        justify-content: center;
        color:#AFAFAF;
        @include H2-MOB;
        height: 29px;

        @include mobile {
            width: 50%;
        }

        @include tablet {
            width: auto;
            margin: 0 3rem;
            height: 100%;
            justify-self: flex-end;

        }

        & > a {
            display: inline-block;
            color: #AFAFAF;
            margin-bottom: 1rem;
        }

        &--active {
            border-bottom: 3px solid #FFFFFF;
            
            & > a {color: white;
        }
    }
    }

    &__link-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;


        @include mobile {
            width: 100%;
            align-items: flex-end;
        }

        @include tablet {
            width: auto;
            padding-top: 2rem;
        }

    }
}

.logo {
    @include mobile {
        text-align: center;
        @include H1-MOB;
        margin-top: 1.5rem;
        display: inline-block;

        @include tablet {
            margin-left: 1.5rem;;
        }
    }

    & > a {
        color: #FFFFFF;
    }

}


// HERO
.hero {
    background-image: url("../assets/CODY-IMAGES/efe-kurnaz-RnCPiXixooY-unsplash.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: contain;
    height: 11.438rem;
    display: flex;
    align-items: center;
    

    @include tablet {
        width: 100%;
        height: 25rem;
    }

    &__header {
        margin-left: 1rem;
        flex-wrap: wrap;

        @include tablet {
            @include H1-hero-DT; 
            margin-left: 1.5rem;
        }
    }
}

// ABOUT SECTION
.about {
    margin: 2rem 0rem 4.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    @include tablet {
        padding: 0 1.5rem;
    }
    
    &__article-cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__title {
        @include H1-MOB;
        font-weight: 700;
        margin-bottom: 1.5rem;
        align-self: flex-start;

        @include tablet {
            @include H1-DT;
        }

    }

    &__articles-cont {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }


    &__article {
        @include H4-MOB;
        margin-bottom: 1.5rem;

        @include tablet {
            @include H4-para-DT;

        }

        &--left {
            @include tablet {
                margin-right: 1.5rem;
            }
        }
    }

    &__image-caption-container {
        @include H2-MOB;
    }

    &__article-title {
        @include H2-MOB;
        margin-bottom: 1.5rem;

        @include tablet {
            @include H2-DT;
        }

    }

    &__image-caption {
        @include H2-MOB;
        margin-bottom: 2rem;

        @include tablet {
            @include H2-DT;
        }

    }

    &__caption-author {
        margin-bottom: 2.5rem;

        @include tablet {
            @include H3-DT;
            font-weight: 500;
        }

    }

    &__image {
        width: 18rem;
        height: auto;
        margin-bottom: 1.5rem;

        @include tablet {
            width: 45rem;
            height: auto;
        }

    }

    &__image-container {
        display: flex;
        justify-content: center;
    }


}

// PHOTO GALLERY

.photos {


    &__title {
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        @include H1-MOB;

        @include tablet {
            margin-left: 1.5rem;
            @include H1-DT;
        }
    }

    &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    }

}

.photo {
    width: 288px;
    height: auto;
    margin-bottom: 1rem;

    @include tablet {
        width: 14rem;
        height: 7.875rem;
        margin-top: 1.5rem;
        margin-left:1.5rem;
    }
}


// FOOTER
.footer {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    color: #AFAFAF;
    padding-left: .75rem;

    @include tablet {
        padding-left: 1.5rem;
    }

    &__title {
        @include H1-MOB;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    &__top-container {

    }

    &__icons {
        color: #AFAFAF;
        display: flex;
        width: 9.5rem;
        justify-content: space-between;
        padding: 0 .5rem;
        margin-bottom: 2.75rem;

        @include tablet {
            padding: 0;
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &__contacts-container {

        display: flex;
        flex-direction: column;
    }

    &__contact {
        display: flex;
        flex-direction: column;
    }

    &__contact-name {
        @include H2-MOB;
    }

    &__address1 {
        @include H5-MOB;

    }

    &__address2 {
        @include H5-MOB;
        margin-bottom: 1.5rem;

    }

    &__copyright {
        @include H5-MOB;

    }

    &__copyright-container {
        padding-bottom: 3rem;
        
    }

    &__logo {
        color: #AFAFAF;
        @include mobile {
            display: none;
        }
    }

    &__email {
        @include H5-MOB;
        margin-bottom: 2em;
    }

    &__contact-company {
        @include H4-MOB;
        margin-bottom: 1.5rem;
    }
}

